<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdd.admin.mapper.MddAddressErrorMapper" >
  <resultMap id="BaseResultMap" type="com.mdd.admin.pojo.MddAddressError" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area_province" property="areaProvince" jdbcType="INTEGER" />
    <result column="area_city" property="areaCity" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="create_agent" property="createAgent" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_agent" property="updateAgent" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="is_from" property="isFrom" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, area_province, area_city, price, create_agent, create_date, update_agent, 
    update_date, is_from
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mdd_address_error
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mdd_address_error
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mdd.admin.pojo.MddAddressError" >
    insert into mdd_address_error (id, name, area_province, 
      area_city, price, create_agent, 
      create_date, update_agent, update_date, 
      is_from)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{areaProvince,jdbcType=INTEGER}, 
      #{areaCity,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{createAgent,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateAgent,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{isFrom,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mdd.admin.pojo.MddAddressError" >
    insert into mdd_address_error
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="areaProvince != null" >
        area_province,
      </if>
      <if test="areaCity != null" >
        area_city,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="createAgent != null" >
        create_agent,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateAgent != null" >
        update_agent,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="isFrom != null" >
        is_from,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="areaProvince != null" >
        #{areaProvince,jdbcType=INTEGER},
      </if>
      <if test="areaCity != null" >
        #{areaCity,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createAgent != null" >
        #{createAgent,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAgent != null" >
        #{updateAgent,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isFrom != null" >
        #{isFrom,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mdd.admin.pojo.MddAddressError" >
    update mdd_address_error
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="areaProvince != null" >
        area_province = #{areaProvince,jdbcType=INTEGER},
      </if>
      <if test="areaCity != null" >
        area_city = #{areaCity,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createAgent != null" >
        create_agent = #{createAgent,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAgent != null" >
        update_agent = #{updateAgent,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isFrom != null" >
        is_from = #{isFrom,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mdd.admin.pojo.MddAddressError" >
    update mdd_address_error
    set name = #{name,jdbcType=VARCHAR},
      area_province = #{areaProvince,jdbcType=INTEGER},
      area_city = #{areaCity,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      create_agent = #{createAgent,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_agent = #{updateAgent,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_from = #{isFrom,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>